.tab-selector__target#file.is-inactive{ 'data-dough-tab-selector-target' => 'file' }
  %h3.l-tab-panels__heading
    = t('links.file.header')
  = form_tag(site_links_files_path, method: 'get', remote: true) do
    %h4.is-inactive{'data-dough-linkmanager-label' => 'file'} No link
    = label_tag(:search, nil, class: 'visually-hidden')
    = text_field_tag(:search, '', placeholder: t('links.file.placeholder'), class: 'form__input form__input--constrained search__input t-search-box')
    = button_tag(:search, type: 'submit', name: nil, class: 'button--action button--search-action t-search-btn') do
      %span.button__text.fa.fa-search

    .choose-sort-by
      = label_tag :sort_by
      = select_tag(:order, options_to_sort_files(selected_option: @order),  prompt: I18n.t('files.index.sort_by.placeholder'), data: { dough_component: 'SelectSubmitter' })

  .js-linkable-files

  %button.button--action{ 'data-dough-linkmanager-insertlink' => 'file' }
    %span.button__text = t('links.file.insert_button')
