.table-wrapper
  = form_tag(comfy_admin_cms_site_pages_url, method: :get, id: 'filter_form', remote: true) do
    %table.datatable-default
      %thead
        %tr
          %th Page title
          %th= select_tag(:layout, options_for_select(layout_list('Page type')), data: { dough_component: 'SelectSubmitter' })
          %th= select_tag(:category, options_for_select(category_list('Child category')), data: { dough_component: 'SelectSubmitter' })
          %th= select_tag(:last_edit, options_for_select(user_list('Last edited by')), data: { dough_component: 'SelectSubmitter' })
          %th= select_tag(:status, options_for_select(state_list('Status')), data: { dough_component: 'SelectSubmitter' })
          %th= select_tag(:language, options_for_select([['Language', nil], ['English', :en], ['Welsh', :cy]]), data: { dough_component: 'SelectSubmitter' })
      %tbody.js-filter-pages
        - @pages.each do |page|
          = render page
          = render page.mirrors.first if page.mirrors.present?
