.fixedsticky-background.fixedsticky-background--toolbar.fixedsticky.top{"data-dough-sticky-element-target" => true}

%nav.toolbar.fixedsticky.top.fixedsticky-toolbar{data: {dough_maseditor_toolbar: true, dough_sticky_element_target: true}}
  .toolbar__inner

    .toolbar__item-group.toolbar__item-group--markdown{data: {dough_maseditor_markdown_toolbar: true}}
      .toolbar__item-group
        =content_tag(:div, "Insert snippet", title: 'Insert snippet', class: 'toolbar__item toolbar-button', data: {dough_component: 'Popover', dough_popover_config: '{"hideOnBlur": true, "direction": "bottom", "centerAlign": true, "closeOnClick": true}', dough_collapsable_trigger: 'markdown-menu'}) do
          %span.toolbar-button__icon.fa.fa-scissors
        %div.popover.popover--bottom{ data: { dough_collapsable_target: 'markdown-menu' }}
          .popover__inner
            %ul.menu.menu--toolbar
              %li.menu__item
                =button_tag('Collapsible', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'collapsible', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Action item', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'actionItem', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Add action', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'addAction', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Call out box', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'callout', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Call out box - Tool', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'calloutTool', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Ticks', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger:'ticks', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag("Bullets", type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'bullets', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Table', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'table', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Promo Block', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'promoBlock', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('YouTube Video', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'videoYoutube', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Brightcove Video', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'videoBrightcove', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Vimeo Video', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'videoVimeo', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('Cost Calculator', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'costCalculator', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('FinCap - Feedback', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'fincap_feedback', dough_snippetinserter_context: 'markdown-snippets'})
              %li.menu__item
                =button_tag('FinCap - Primary Button', type: 'button', class: 'menu__action', data: { dough_snippetinserter_trigger: 'fincap_primary_button', dough_snippetinserter_context: 'markdown-snippets'})

          .popover__pointer{:data => {dough_collapsable_pointer: true}}
    .toolbar__item-group.toolbar__item-group--html{data: {dough_maseditor_html_toolbar: true}}
      .toolbar__item-group
        =button_tag(type: 'button', title: "Bold", class: 'toolbar__item toolbar-button', data: { "command-name" => "bold"}) do
          %span.fa.fa-bold
        = button_tag("H2", title: "H2",  type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h2"})
        = button_tag("H3", title: "H3",  type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h3"})
        = button_tag("H4", title: "H4",  type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h4"})
        = button_tag(type: 'button', title: "Subscript", class: 'toolbar__item toolbar-button', data: { "command-name" => "subscript"}) do
          %span.fa.fa-subscript
        = button_tag(type: 'button', title: "Superscript", class: 'toolbar__item toolbar-button', data: { "command-name" => "superscript"}) do
          %span.fa.fa-superscript
        = button_tag("Remove Formatting", title: "Remove formatting", class: 'toolbar__item toolbar-button', type: "button", data: { "command-name" => "removeFormat"}) do
          %span.fa.fa-times

      .toolbar__item-group
        = button_tag("Numbered list", title: "Numbered list", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "insertOrderedList"}) do
          %span.fa.fa-list-ol
        = button_tag("Bulleted list", title: "Bulleted list", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "insertUnorderedList"}) do
          %span.fa.fa-list-ul
        = button_tag('Link', title: "Insert link", type: 'button', class: 'toolbar__item toolbar-button', data: { 'dough-component' => 'Dialog', 'dough-dialog-trigger' => 'insert-link', 'dough-dialog-context' => 'add-link', 'command-name' => 'editLink' }) do
          %span.fa.fa-link
        = button_tag("Unlink", title: "Remove link", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "unlink"}) do
          %span.fa.fa-unlink
        = button_tag('Image', title: "Insert image", type: 'button', class: 'toolbar__item toolbar-button', data: { 'command-name' => 'insertImage', 'dough-component' => 'Dialog', 'dough-dialog-trigger' => 'insert-image', 'dough-dialog-context' => 'insert-image'}) do
          %span.fa.fa-image

        =content_tag(:div, "Insert snippet", title: 'Insert snippet', class: 'toolbar__item toolbar-button', data: {dough_component: 'Popover', dough_popover_config: '{"hideOnBlur": true, "direction": "bottom", "centerAlign": true, "closeOnClick": true}', dough_collapsable_trigger: 2}) do
          %span.toolbar-button__icon.fa.fa-scissors
        %div.popover.popover--bottom{ data: { dough_collapsable_target: 2 }}
          .popover__inner
            %ul.menu.menu--toolbar
              %li.menu__item
                =button_tag('Collapsible', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_collapsible'})
              %li.menu__item
                =button_tag('Action item', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_actionItem'})
              %li.menu__item
                =button_tag('Add action', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_addAction'})
              %li.menu__item
                =button_tag('Call out box', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_callout'})
              %li.menu__item
                =button_tag('Call out box - Tools', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_calloutTool'})
              %li.menu__item
                =button_tag('Ticks', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_ticks'})
              %li.menu__item
                =button_tag("Bullets", type: 'button', class: 'menu__action', data: { "command-name" => "mastalk_bullets"})
              %li.menu__item
                =button_tag('Table', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_table'})
              %li.menu__item
                =button_tag('Promo Block', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_promoBlock'})
              %li.menu__item
                =button_tag('YouTube Video', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_videoYoutube'})
              %li.menu__item
                =button_tag('Brightcove Video', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_videoBrightcove'})
              %li.menu__item
                =button_tag('Vimeo Video', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_videoVimeo'})
              %li.menu__item
                =button_tag('Cost Calculator', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_costCalculator'})
              %li.menu__item
                =button_tag('FinCap - Feedback', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_fincap_feedback'})
              %li.menu__item
                =button_tag('FinCap - Primary Button', type: 'button', class: 'menu__action', data: { 'command-name' => 'mastalk_fincap_primary_button'})

          .popover__pointer{:data => {dough_collapsable_pointer: true}}

    .toolbar__item-group.toolbar__item-group--right{data: {dough_maseditor_mode_switch: true}}
      .toggle
        =radio_button_tag('edit-mode', 'html', true, class: 'toggle__control js-switch-mode')
        =radio_button_tag('edit-mode', 'markdown', false, class: 'toggle__control js-switch-mode')
        =label_tag('edit-mode_html', 'Layout', class: 'toggle__label-heading')
        %span.toggle__indicator
        =label_tag('edit-mode_markdown', 'Advanced', class: 'toggle__label-heading')

    .toolbar__item-group.toolbar__item-group--right
      = button_tag(class: 'js-activate-word-upload-form button button--action button--secondary', type: 'button') do
        %span.button__text Upload Word Doc
