.l-nav-primary
  .l-constrained
    %nav
      - if @site && @site.persisted?
        %ul.nav-primary
          - menu_links(@site).each do |menu_link|
            - if menu_link.sublinks?
              %li.nav-primary__item.has-dropdown
                = link_to menu_link.name, menu_link.path, class: menu_link.link_class
                .nav-primary__menu
                  %ul.menu.menu--global
                    - menu_link.sublinks.each do |sublink|
                      %li.menu__item{ class: sublink.add_active_class(self) }
                        = link_to sublink.name, sublink.path, class: 'menu__action'
            - else
              %li.nav-primary__item{ class: menu_link.add_active_class(self) }
                = link_to menu_link.name, menu_link.path, class: menu_link.link_class

          %li.nav-primary__item
          %li.nav-primary__item.nav-primary__item--right
            %span.nav-primary__text.nav-primary__text--no-hover
              = link_to(current_user.name, edit_user_path(current_user))
              %span.nav-primary__icon.fa.fa-user
          %li.nav-primary__item.nav-primary__item--right
            = link_to "#{t('users.sign_out')} #{content_tag(:span, '', class: 'nav-primary__icon fa fa-sign-out')}".html_safe, destroy_user_session_path, method: :delete, class: 'nav-primary__text'

        = cms_hook :navigation
