.tab-selector__target.is-active#internal{'data-dough-tab-selector-target' => 'internal' }
  %h3.l-tab-panels__heading
    = t('links.page.header')
  = form_tag(site_links_pages_path, method: 'get', remote: true) do
    = label_tag(:link, t('links.current'))
    = text_field_tag(:link, nil, data: {'dough-linkmanager-link-type' => 'internal'}, disabled: 'disabled')
    = label_tag(:search, nil, class: 'visually-hidden')
    = text_field_tag(:search, '', placeholder: t('links.page.placeholder'), class: 'form__input form__input--constrained search__input t-search-box')
    = button_tag(:search, type: 'submit', name: nil, class: 'button--action button--search-action t-search-btn') do
      %span.button__text.fa.fa-search

    .choose-category
      = label_tag :category, t('links.page.category.label')
      = select_tag(:category, options_from_collection_for_select(@categories, :label, :label, params[:category]),
          include_blank: false,
          multiple:      false,
          id:            'categories',
          class:         't-categories-select',
          prompt:        t('links.pages.category.placeholder'),
          data:          { dough_component: 'SelectSubmitter' })

  .js-linkable-pages

  %span.button-menu
    %button.button--action{'data-dough-linkmanager-insertlink' => true }
      = t('links.page.insert_button')
