.tab-selector__target.is-active#page{'data-dough-tab-selector-target' => 'page' }
  %h3.l-tab-panels__heading Select page
  = form_tag(site_links_pages_path, method: 'get', remote: true) do
    %h4.is-inactive{'data-dough-linkmanager-label' => 'page'} No link
    = label_tag(:search, nil, class: 'visually-hidden')
    = text_field_tag(:search, '', placeholder: t('links.page.placeholder'), class: 'form__input form__input--constrained search__input t-search-box')
    = button_tag(:search, type: 'submit', name: nil, class: 'button--action button--search-action t-search-btn') do
      %span.button__text.fa.fa-search

    .choose-category
      = label_tag :category, t('links.page.category.label')
      = select_tag(:category, options_from_collection_for_select(@categories, :label, :label, params[:category]),
          include_blank: false,
          multiple:      false,
          id:            'categories',
          class:         't-categories-select',
          prompt:        t('links.page.category.placeholder'),
          data:          { dough_component: 'SelectSubmitter' })

  .js-linkable-pages

  %button.button--action{'data-dough-linkmanager-insertlink' => 'page' }
    %span.button__text
      = t('links.page.insert_button')
