.nav-article.is-fixed
  .l-constrained
    .nav-article__inner
      %span.nav-article__item
        %span#t-status
          =@site.label.upcase
          Status:
          =current_status(@page)
          =@page.scheduled_on
        %span.is-hidden{ data: { dough_wordcount_display: 'article', dough_wordcount_text: ' | ~{count} words' } }
      - if @page.persisted?
        %span.nav-article__item
          %span.fa.fa-list-ul
          %a.button.button--article.button--h-capitalized.activity-log-button{ data: { dough_component: :Popover, dough_collapsable_trigger: 'activity-log', dough_popover_config: '{"isFixed": true, "direction": "top", "centerAlign": true, "hideOnBlur": true }' } }
            Activity log
        %span.nav-article__item
          %span.fa.fa-line-chart
          %a.button.button--article.analytics-button
            Analytics
      %span.nav-article__item.nav-article__item--right
        - unless @page.unsaved?
          = link_to t('.preview'), presenter.preview_url, :class => 'button button--h-capitalized button--article', id: 'preview', target: '_blank'

      %span.nav-article__item.nav-article__item--right
        %span.button-menu
          = render "pages/buttons/main_state/#{@page.state}"
          - if display_additional_button_menu?(@page, current_user)
            %span{:data => {:'dough-component' => 'Collapsable', :'dough-collapsable-trigger' => 1, :'dough-collapsable-config' => '{"hideOnBlur": "true"}'}}
              %span.button__icon.fa.fa-caret-up

        - if display_additional_button_menu?(@page, current_user)
          .popover.popover--options.popover--top{:data => { :'dough-collapsable-target' => 1 }}
            .popover__inner
              .menu
                .menu__body
                  = render "pages/buttons/next_state/#{@page.state}"

            .popover__pointer
