- content_for :nav_secondary do
  %li.nav-secondary__item.nav-secondary__item--right
    = render 'comfy/admin/cms/sites/mirrors', object: @page

%div{data:{dough_component: 'StickyElements'}}
  = form_for @page, as: :page,
                    url: form_url,
                    class: 'form',
                    html: { multipart: true, autocomplete: 'off'},
                    data: { dough_component: 'MASEditor', dough_scheduler_form: true } do |form|

    - if params[:alternate]
      = hidden_field :alternate, true, id: 'js-alternate'

    = render 'comfy/admin/cms/partials/page_form_before', object: form
    .l-panel-content.l-panel-content--form
      .l-constrained{ data: page_form_component(@page.new_record?, default: ['URLFormatter'], optional: ['MirrorInputValue']), 'data-dough-urlformatter-base-url' => '{pageType}/{slug}'}

        - if display_metadata_form_fields?(@page)
          = render 'form_title', form: form
          = render 'form_layout', form: form if @site.layouts.any?

        = form.hidden_field :scheduled_on, data: {'dough-scheduler-on' => ''}

        - if display_metadata_form_fields?(@page)
          = render 'form_slug', form: form
          = render 'comfy/admin/cms/partials/page_form_inner', form: form
          = render 'comfy/admin/cms/categories/form',          form: form
          = render 'tags/shared/form',                         form: form
          = render 'form_meta_description',                    form: form
          = render 'form_meta_title',                          form: form
          = render 'form_additional_options',                  form: form

    = render partial: 'form_blocks'

    = render 'scheduler', object: form
    = render 'footer_bar', object: form
    = render 'comfy/admin/cms/partials/page_form_after', object: form

= render 'activity_log_box'
= render 'insert_link_dialog'
= render 'insert_image_dialog'

- unless @page.new_record?
  = render 'remover', page: @page
