.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col.page-header
        - if params[:search].present?
          %h1.l-panel-content__heading Search Results
        - else
          %h1.l-panel-content__heading
            = "Welcome #{current_user.name}"
      .l-panel-content__col.search-container
        = form_tag(comfy_admin_cms_site_pages_path, method: 'get', id: 'search-form') do
          .search.search--header
            %span.search__item
              - if params[:search].present?
                = "#{@pages.count} pages found for '#{params[:search]}'"
            %span.search__item.search__item--input
              = label_tag(:search, nil, class: 'visually-hidden')
              = text_field_tag(:search, params[:search], placeholder: 'Keyword', class: 'form__input form__input--constrained search__input')
              = button_tag('Search', type: 'submit', name: nil, class: 'button--action button--search-action') do
                %span.button__text.fa.fa-search
            %span.search__item
              = link_to new_site_page_path(@site), class: 'button--action button--search' do
                %span.button__text
                  %span.fa.fa-file-o
                  = I18n.t('actions.pages.new')

.l-panel-content.l-panel-content--flush
  .l-constrained
    .l-panel-content__row.l-panel-row--padded
      - if @last_published_pages
        .l-panel-content__col.panel
          = render 'last_published_pages'
      - if @draft_pages
        .l-panel-content__col.panel.panel--alt
          = render 'draft_pages'

- content_for :right_column do
  = render 'comfy/admin/cms/sites/mirrors'

= render 'comfy/admin/cms/partials/pages_before'

.l-panel-content
  .l-constrained
    = paginate @pages, remote: true
    = render 'index_branch'
    = paginate @pages, remote: true

= render 'comfy/admin/cms/partials/pages_after'
