.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col.page-header
        - if params[:search].present?
          %h1.l-panel-content__heading
            - if params[:search].present?
              = "#{@pages.count} pages found for '#{params[:search]}'"
        - else
          %h1.l-panel-content__heading
            = "Welcome #{current_user.name}"
      .l-panel-content__col.l-panel-content__col--right
        = link_to new_site_page_path(@site), class: 'button--action button--search' do
          %span.button__text
            %span.fa.fa-file-o
            = I18n.t('actions.pages.new')

.l-panel-content.l-panel-content--flush
  .l-constrained
    .l-panel-content__row.l-panel-row--padded
      - if @last_draft_pages
        .l-panel-content__col.panel
          = render 'draft_pages'
      - if @last_published_pages
        .l-panel-content__col.panel.panel--alt
          = render 'last_published_pages'

- content_for :right_column do
  = render 'comfy/admin/cms/sites/mirrors'

= render 'comfy/admin/cms/partials/pages_before'

.l-panel-content.l-panel-content--flush
  .l-constrained
    - unless params[:search].present?
      = paginate @pages, remote: true, window: 10
    = render 'index_branch'
    - unless params[:search].present?
      = paginate @pages, remote: true, window: 10

= render 'comfy/admin/cms/partials/pages_after'
