.l-panel-content.l-panel-content--form
  .l-constrained

    -# header
    .page-header
      %h2= t('.title')

    -# create new tags
    = form_for(Tag.new, remote: true, method: :post) do |form|
      = form.hidden_field :value, class: 'js-tags-add-value'
      = form.submit class: 'js-tags-add-submit', hidden: true
    %label= t('.add_tag.info')
    .js-tags-display

    -# delete tags
    = form_for(:tag, url: delete_from_value_tags_path, remote: true, method: :delete) do |form|
      = form.hidden_field :value, class: 'js-tags-delete-value'
      = form.submit class: 'js-tags-delete-submit', hidden: true

    -# used tags
    %label= t('.tags_in_use.info')
    %div!= index_of_tags_in_use
    .js-tags-used


- content_for :javascript do
  :javascript
    require(['taggle'], function(Taggle) {
      new Taggle(document.querySelector('.js-tags-display'), {
        placeholder: '',
        onTagAdd: function(event, tag) {
          $('.js-tags-add-value').val(tag);
          $('.js-tags-add-submit').click();
        },
        onTagRemove: function(event, tag) {
          $('.js-tags-delete-value').val(tag);
          $('.js-tags-delete-submit').click();
        }
      });
    });
