<div class="l-panel-content l-panel-content--form">
  <div class="l-constrained">
    <div class="l-panel-content__row">
      <div class="l-panel-content__col page-header">
        <h1 class="l-panel-content__heading">
          Redirects
        </h1>
      </div>

      <div class="l-panel-content__col l-panel-content__col--right">
        <%= link_to new_redirect_path, class: 'button--action button--search' do %>
          <span class="button__text"><span class="fa fa-exchange"></span> Create new redirect</span>
        <% end %>
      </div>
    </div>

    <table class="datatable-default table table--full-width">
      <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>Redirect type</th>
          <th>Created at</th>
          <th>Last updated at</th>
          <th>Last updated by</th>
        </tr>
      </thead>

      <tbody>
        <% @redirects.each do |redirect| %>
          <tr>
            <td><%= redirect.source %></td>
            <td><%= redirect.destination %></td>
            <td><%= redirect.redirect_type %></td>
            <td><time datetime="<%= redirect.created_at %>" title="<%= redirect.created_at %>"><%= time_ago_in_words(redirect.created_at) %> ago</time></td>
            <td><time datetime="<%= redirect.versions.last.created_at %>" title="<%= redirect.versions.last.created_at %>"><%= time_ago_in_words(redirect.versions.last.created_at) %> ago</time></td>
            <td><%= redirect.versions.last.user.email_local_part %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
