<div class="l-panel-content l-panel-content--form">
  <div class="l-constrained">
    <div class="l-panel-content__row">
      <div class="l-panel-content__col">
        <h1>Redirects</h1>
      </div>
      <div class="l-panel-content__col l-panel-content__col--right">
        <%= link_to new_redirect_path, class: 'button--action' do %>
          <span class="button__text"><span class="fa fa-exchange fa--spacious"></span> Create</span>
        <% end %>
      </div>
    </div>
    <%= form_for RedirectSearch.new, url: search_redirects_path,
                                     method: :get,
                                     html: { class: 'l-search-bar l-search-bar--redirects' } do |f| %>
      <div class="l-search-bar__input">
        <%= f.label :query, 'Search', class: 'visually-hidden' %>
        <%= f.text_field :query, class: 'form__input' %>
      </div>
      <div class="l-search-bar__button">
        <button class="button--action button--search-action" type="submit">
          <span class="button__text fa fa-search"></span>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="l-panel-content">
  <div class="l-constrained">

    <table class="datatable-default table table--full-width">
      <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>Redirect type</th>
          <th>Created at</th>
          <th>Last updated at</th>
          <th>Last updated by</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @redirects.each do |redirect| %>
          <tr>
            <td><%= redirect.source %></td>
            <td><%= redirect.destination %></td>
            <td><%= redirect.redirect_type %></td>
            <td><time datetime="<%= redirect.created_at %>" title="<%= redirect.created_at %>"><%= time_ago_in_words(redirect.created_at) %> ago</time></td>
            <td><time datetime="<%= redirect.versions.last.created_at %>" title="<%= redirect.versions.last.created_at %>"><%= time_ago_in_words(redirect.versions.last.created_at) %> ago</time></td>
            <td><%= redirect.versions.last.user.email_local_part %></td>
            <td>
              <%= link_to redirect do %>
                <span class="fa fa-pencil"> Edit</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
