.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col
        %h1 Category Manager

.l-panel-content
  .l-constrained
    %h2.breadcrumb
      - @category.parents.each do |category|
        = link_to category.label, category_path(category)
        >
      =@category.label
      - if @category.parent_id
        = link_to category_path(@category.parent_id), class: 'breadcrumb__button button--action' do
          %span.button__text
            = t('categories.listing.go_to_parent')
      - else
        = link_to categories_path, class: 'breadcrumb__button button--action' do
          %span.button__text
            = t('categories.listing.go_to_parent')

    .l-panel-content__row
      .l-panel-content__row
      .l-split-content
        .l-split-content__col
          %h2 Category details
          = comfy_form_for @category, url: {action: 'update'}, html: {class: 'form form--vertical'}, label_col: 'form__label-heading', control_col: 'form__input-wrapper' do |f|
            = f.collection_select :parent_id, Comfy::Cms::Category.where(site_id: 1).reorder(:label), :id, :label, include_blank: true
            = f.text_field :title_en
            = f.text_field :title_cy
            = f.text_field :description_en
            = f.text_field :description_cy

            .form-group
              .form__input-wrapper
                = f.check_box :navigation, label: t('categories.edit.show_in_navigation')

            = hidden_field_tag 'list_order_sub_categories', nil , data: { dough_listsorter_order_field: true, dough_listsorter_context: 'category-manager-sub-categories'}
            = hidden_field_tag 'list_order_pages_en', nil , data: { dough_listsorter_order_field: true, dough_listsorter_context: 'category-manager-pages-en'}
            = hidden_field_tag 'list_order_pages_cy', nil , data: { dough_listsorter_order_field: true, dough_listsorter_context: 'category-manager-pages-cy'}

            .form-group
              .form__input-wrapper
                = button_tag class: 'button--action' do
                  %span.button__text
                    = t('categories.edit.submit.update')

        .l-split-content__col
          %h2 Sub-categories
          %ol.sortable-list{data: {dough_component: :ListSorter, dough_listsorter_context: 'category-manager-sub-categories'}}
            -@category.child_categories.each do |category|
              %li.sortable-list__item{data: {dough_listsorter_item_id: category.id}}
                = link_to category.label, category_path(category), class: 'sortable-list__link'

          - if @english_pages.present?
            .tab-selector.tab-selector--horizontal{'data-dough-component' => 'TabSelector'}
              .tab-selector__triggers-outer{'data-dough-tab-selector-triggers-outer' => true }
                .tab-selector__triggers-inner{'data-dough-tab-selector-triggers-inner' => true }
                  .tab-selector__trigger-container.is-active{'data-dough-tab-selector-trigger-container' => true }
                    %a.tab-selector__trigger{ href: '#en', 'data-dough-tab-selector-trigger' => 'en' } EN
                  .tab-selector__trigger-container.is-inactive{ 'data-dough-tab-selector-trigger-container' => true }
                    %a.tab-selector__trigger{ href: '#cy', 'data-dough-tab-selector-trigger' => 'cy' } CY

              = render partial: 'sortable', locals: { pages: @english_pages, locale: 'en', defaultClass: 'is-active' }
              = render partial: 'sortable', locals: { pages: @welsh_pages, locale: 'cy', defaultClass: 'is-inactive' }

