.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col
        %h1 Category Manager
      .l-panel-content__col

.l-panel-content
  .l-constrained
    %h2.breadcrumb
      - @category.parents.each do |category|
        = link_to category.label, category_path(category)
        >
      =@category.label

    .l-panel-content__row
      .l-panel-content__row
      .l-split-content
        .l-split-content__col
          %h2 Category details
          = comfy_form_for @category, url: {action: "update"}, html: {class: 'form form--vertical'}, label_col: "form__label-heading", control_col: "form__input-wrapper" do |f|
            = f.text_field :title_en
            = f.text_field :title_cy
            = f.text_field :description_en
            = f.text_field :description_cy

            .form-group
              .form__input-wrapper
                = f.check_box :navigation

            = hidden_field_tag 'list_order_sub_categories', nil , data: { dough_listsorter_order_field: true, dough_listsorter_context: 'catman-sub-categories'}
            = hidden_field_tag 'list_order_pages', nil , data: { dough_listsorter_order_field: true, dough_listsorter_context: 'catman-pages'}

            .form-group
              .form__input-wrapper
                = f.submit

        .l-split-content__col
          %h2 Sub-categories
          %ol.sortable-list{data: {dough_component: :ListSorter, dough_listsorter_context: 'catman-sub-categories'}}
            -@child_categories.each do |category|
              %li.sortable-list__item{data: {dough_listsorter_item_id: category.id}}
                = link_to category.label, category_path(category)

          - if @pages.present?
            %h2 Pages
            %ol.sortable-list{data: {dough_component: :ListSorter, dough_listsorter_context: 'catman-pages'}}
              - @pages.each do |page|
                %li.sortable-list__item{data: {dough_listsorter_item_id: page.id}}
                  = link_to page.label, edit_site_page_path(site_id: page.site_id, id: page.id)


          - if @category.parent_id
            = link_to category_path(@category.parent_id), class: 'button--action' do
              %span.button__text Up
          - else
            = link_to categories_path, class: 'button--action' do
              %span.button__text Up
