.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col.page-header
        - if params[:search].present?
          %h1= t('search.results')
        - else
          %h1= t('.title')
      .l-panel-content__col
        = form_tag(comfy_admin_cms_site_files_path, method: 'get', id: 'search-form') do
          .search.search--header
            %span.search__item
              - if params[:search].present?
                = t('.found', n: @files.count, q: params[:search])
            %span.search__item.search__item--input
              = label_tag(:search, nil, class: 'visually-hidden')
              = text_field_tag(:search, params[:search], placeholder: t('.search.placeholder'), class: 'form__input form__input--constrained search__input')
              = button_tag('Search', type: 'submit', name: nil, class: 'button--action button--search-action') do
                %span.button__text.fa.fa-search
            %span.search__item
              = link_to new_comfy_admin_cms_site_file_path(@site), :class => 'button--action button--search' do
                %span.button__text
                  = t('.new_link')

= render 'comfy/admin/cms/partials/files_before'

.js-files-list_box
  = paginate @files
  .js-files-filters
    = form_tag(comfy_admin_cms_site_files_path(site_id: @site), method: :get, remote: true) do
      = select_tag(:order, options_to_sort_files(selected_option: @order),  prompt: t('comfy.admin.cms.files.index.sort_by.placeholder'),   data: {dough_component: 'SelectSubmitter'})
      = select_tag(:type,  options_to_filter_files(selected_option: @type), prompt: t('comfy.admin.cms.files.index.filter_by.placeholder'), data: {dough_component: 'SelectSubmitter'})

  = render 'files_list', site: @site, files: @files
  = paginate @files

= render 'comfy/admin/cms/partials/files_after'
